/* Footer */
/* #region */
.footer {
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: var(--bg-nav-foot);
  -webkit-box-shadow: inset 0px 4px 0px 0px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: inset 0px 4px 0px 0px rgba(0, 0, 0, 0.68);
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 500ms ease-in;
}

.footer-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-bottom: 0;
}

.footer-link a {
  font-size: 0.8rem;
  display: inline;
  margin: 0.2rem;
  color: var(--bg-secondary);
  transition: opacity 750ms ease-in-out;
}

.footer-link a:hover {
  color: var(--bg-secondary);
  opacity: 0.4;
}

.footer-copyright {
  margin-top: 0;
}

.copyright-text {
  color: var(--bg-standout);
  font-size: 0.8rem;
}

.attributions {
  transition: opacity 750ms ease-in-out;
}

.attributions:hover {
  opacity: 0.6;
  cursor: pointer;
}

.footer-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  border-radius: 20px;
  background-color: var(--bg-secondary);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.68);
  color: var(--bg-nav-foot);
  font-weight: lighter;
  height: 80%;
  width: 80%;
}

.attribution-header {
  font-size: 2rem;
}

.attribution-rule {
  width: 75%;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.351);
}

.attribution-list {
  font-size: 0.9rem;
  list-style: none;
  width: 90%;
  overflow-y: scroll;
}

.attribution-item {
  margin: 0.25rem;
}
.attribution-item a {
  color: var(--bg-nav-foot);
  text-decoration: underline;
}

@media only screen and (max-width: 678px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }
  .footer-list {
    display: none;
  }
  .attribution-header {
    font-size: 1.25rem;
  }
  .attribution-list {
    font-size: 0.75rem;
  }
}

@media only screen and (max-height: 425px) {
  .footer-link a {
    font-size: 0.4rem;
  }
}

/* #endregion */
