/* page-wrapper = 82vh */

.home-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 85%;
}

.portrait-container {
  position: relative;
  min-height: inherit;
  width: inherit;
  flex: 1;
}

.portrait {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1160px) {
  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-primary);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: var(--bg-standout);
  }
}

@media only screen and (max-width: 890px) {
  .portrait {
    height: 85%;
  }
}

@media only screen and (max-width: 760px) {
  .portrait {
    height: 75%;
  }
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-height: 90%;
  width: 80%;
  flex: 1;
}

.bio-header {
  font-family: "Libre Caslon Display", serif;
  min-height: 13%;
}

.bio-body {
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: left;
  width: 90%;
  margin: 1.2rem 0;
  min-height: 85%;
  overflow-y: scroll;
}

@media only screen and (max-width: 380px) {
  .home-body {
    flex-direction: column;
    min-height: 30vh;
  }

  .portrait-container {
    margin: auto;
    min-height: 10vh;
  }
  .portrait {
    min-height: inherit;
  }

  .bio-container {
    min-height: 20vh;
    width: inherit;
  }

  .bio-header {
    min-height: 8vh;
    margin-bottom: 0;
  }

  .bio-body {
    width: 95%;
    height: 12vh;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 678px) {
  /* add the scroll bar to the bio home that way 
    it's obvious that it's scrollable
  */
  .home-body {
    flex-direction: column;
  }

  .portrait-container {
    margin: auto;
    min-height: 25vh;
  }
  .portrait {
    min-height: 100%;
  }

  .bio-container {
    min-height: 35vh;
    width: inherit;
  }

  .bio-header {
    min-height: 8vh;
    margin-bottom: 0;
  }

  .bio-body {
    width: 95%;
    height: 27vh;
    margin-top: 10px;
  }
}
