.page-wrapper {
  position: fixed;
  background: var(--bg-pages);
  top: 8vh;
  width: 100vw;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dead-block,
.btn-container {
  display: block;
  flex-direction: row;
  min-height: 4vh;
}
.section-btn {
  color: var(--bg-standout);
  cursor: pointer;
  transition: opacity 500ms ease-in-out;
}

.section-btn:hover {
  color: var(--bg-standout);
  opacity: 0.4;
}

.page-body {
  min-height: 60vh;
  max-height: 66vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
  .page-wrapper {
    top: 10vh;
    min-height: 64vh;
    max-height: 66vh;
  }
  .page-btn-down {
    margin-top: 2px;
  }
}
@media only screen and (max-height: 400px) and (orientation: landscape) {
  .page-wrapper {
    top: 10vh;
    height: 80vh;
  }
}
